

.cabecalho{
    dispaly: flex;
    justify-contetn: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #00000;
    
}

.cabecalho img{

    width: 30%;
    max-width: 30%;
    display: block;
}